*{
    margin:0;
    padding:0;
    font-family:"work sans";
}

.container{
    position:relative;
    background-color:red;
    margin:0 auto;
    width:1200px;
    
}

.greeting{
    font-weight:400;
}
.header{
    text-align:center;
    position:absolute;
    left:320px;
    top:25px;
    margin-top:20px;
}

.input{
    position:absolute;
    top:100px;
    left:310px;
}

.board{
    
    width: 700px;
    height:400px;
    padding:30px;
    border: solid 2px;
    overflow-y: scroll;
    position:absolute;
    top:450px;
    left:230px;
}
#output{
   
    font-size:20px;
    text-align: center;
    margin-top:50px;
    
    
    font-weight:400;
    
}
.spacer{
    
    width:780px;
    height:30px;
    position:absolute;
    top:940px;
    left:230px;
}